{% extends "layout/basic.html" %}
{% block content %}
<div class="row" data-sticky-parent>
  <div class="medium-9 columns">
  {% block manage_content %}{% endblock %}
  </div>
  <div class="medium-3 columns"><div data-sticky="large">
    <div class="section side">
      <ol class="menu">
        <li class="menu__item">
          <div class="menu__link expandable">
            <span class="icon icon-info"></span> {{ _('Properties') }}
          </div>
          <ol class="menu collapsed">
            {%- for item in ui.getNodes('ControlPanel') -%}
              {% set target_url = url(item.name) %}
              <li class="menu__item" id="menu-item-{{ item.name }}">
                <a href="{{ target_url }}" class="menu__link{% if handler.request.path == target_url or page_name == item.name %} active{% endif %}">
                  {% if item.icon %}
                    <span class="icon icon-{{ item.icon }}"></span>
                  {% endif %}
                  {{ _(item.name) }}
                </a>
              </li>
            {%- endfor -%}
          </ol>
        </li>
      </ol>
    </div>
  </div></div>
</div>
{% endblock %}
